#searchShooters {
    display: block;
    width: 100%;
    height: 45px;
    margin: auto;
    margin-bottom: 10px;
    background-color: #222;
    color: #ccc;
    font-size: 1.3em;
}
#searchText {
    font-family: entypo;
    font-size: 70px;
    position: absolute;
    margin-top: -14px;
    margin-left: 10px;
}
#searchTextbox {
    width: 715px;
    margin-left: 55px;
    font-size: 24px;
    margin-top: 7px;
    border: solid #BBB 1px;
    border-radius: 4px;
    box-shadow: 1px 1px 0px #EEE inset, -1px -1px 0px #EEE inset;
    padding: 0px 10px;
}
.button.search {
    background-color: #07B;
    border: solid 2px #005588;
    font-size: 0.8em;
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}
.button.search.clear {
    margin-left: 85px;
    margin-top: 6px;
}
.list_letter {
    color: #CCC;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    text-align: center;
    background-color: #555;
    border-right: solid 1px #222;
    border-bottom: solid 1px #222;
}
#Listbox {
    width: 533px;
    height: 82px;
    border: solid #222;
    float: left;
    margin: 0px;
    margin-bottom: 10px;
}
.list_letter a {
    margin: 6px 0;
    display: block;
}
.list_letter:hover {
    background-color: #777;
    color: #4BF;
}
#letterText {
    display: block;
    width: 365px;
    margin: 30px 10px;
    font-size: 1.2em;
    float: left;
    text-align: right;
}
#addshooter {
    float: left;
    text-align: center;
    width: 200px;
    margin-top: 30px;
}
.list_letter.selected:hover {
    background-color: #999;
    color: #222;
}
.list_letter.selected {
    background-color: #999;
    color: #222;
}
.list_letter.disabled {
    background-color: #222;
    color: #555;
}
#pages {
    width: 928px;
    background-color: #222;
    min-height: 40px;
    padding: 6px;
}
.prev.list_letter {
    width: 105px;
}
.next.list_letter {
    width: 65px;
}
#shooterTable {
    text-align: center;
    width: 900px;
    margin: 10px auto;
    border: solid #CCC 3px;
    border-collapse: collapse;
}
#newshooter {
    float: right;
    font-size: 20px;
    font-weight: normal;
}
th, td{
    padding: 10px;
    border: solid #CCC 1px;
}
th {
    background-color: #EEE;
}