#weeklyForm {
	width: 60%;
	margin-left: 30%;
	font-size: 1.3em;
	color: #222;
}
#weeklyForm .formTitle {
    width: 45%;
    margin-top: 4px;
}
#weeklyForm .formText {
    width: 50%;
	
}
#weeklyForm .formText.select {
    width: 52.3%;
}
.back.button.edit {
    float: left;
}
.button.scoresheet {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #069;
    border-color: #005588;
}