#searchResults li {
    display: block;
    text-align: center;
    font-size: 21px;
    background-color: #333;
    margin: 5px 0%;
    color: #CCC;
    width: 100%;
    border: solid 1px #555; 
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2) inset, -2px -2px 2px rgba(0, 0, 0, 0.2) inset;
}
#searchResults li a {
    padding: 18px;
    display: block;
}
#searchResults li:hover {
    background-color: #555;
    cursor: pointer;
}
#searchResults li:active {
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.2) inset, 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
}

#listResults {
    float: left;
    width: 464px;
}
#searchMain {
    float: left;
    height: 60px;
    width: 50%;
    background-color: #222;
    color: #FFF;
}
#topSeachBox {
    width: 940px;
    height: 60px;
    margin-bottom: 20px;
    background-color: #222;
}
#magGlass {
    font-family: entypo;
    font-size: 60px;
    width: 72px;
    text-align: center;
    display: block;
    float: left;
}
#searchBox {
    border: solid 1px #666;
    font-size: 20px;
    width: 354px;
    margin: 12px;
    padding: 5px;
    color: #222;
    margin-left: 0px;
}
#searchResults {
    margin: 0px;
    padding: 0px;
    display: none;
}

#searchResultsText {
    text-align: center;
    font-size: 23px;
    margin: 0px;
    margin-top: 15px;
    width: 100%;
    color: #CCC;
}
table {
    text-align: center;
    width: 900px;
    margin: 10px auto;
    border: solid #CCC 3px;
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    border: solid #CCC 1px;
}
th {
    background-color: #EEE;
}
.gender {
    float: left;
    color: #069;
}
.gender.female {
    color: #906;
}
.button.edit {
    background-color: #3A3; 
    border: solid 2px #272;
}
.button.edit:hover {
    background-color: #3D3;
}
.button.delete {
    background-color: #F33; 
    border: solid 2px #B33;
}
.button.delete:hover {
    background-color: #F88;
}
.side.right {
    float: right;
}
.side.right.male {
    color: #4BF;
}
.side.right.female {
    color: #F4B;
}
.button.newshooter {
    font-size: 15px;
    float: right;
    margin: -2px 5px;
}