#wrapper {
    width: 980px;
    border: solid 6px #222;
    background-color: #EEE;
    color: #444;
    margin: 20px auto;
    overflow: hidden;
}
#currentSeries p {
    color: #222;
    text-shadow: 1px 1px 2px #FFF;
    margin: 8px;
    float: left;
}
#currentSeries {
    clear: both;
    margin: 10px auto;
    margin-bottom: 20px;
    font-size: 1.3em;
    height: 40px;
    padding: 5px;
    background-color: #5CF;
    border: solid 1px #0AF;
    color: white;
}
#changeSeriesHolder {
    float: right;
    width: 316px;
}
#changeSeries {
    background-color: white;
    padding: 5px;
    font-size: 0.8em;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#changeSeriesHolderLabel {
    display: block;
    float: left;
    margin-top: 5px;
}
#changeSeriesHolder input {
    display: block;
    float: left;
    font-size: 0.8em;
    margin-top: 2px;
}
#content {
    width: 940px;
    min-height: 100px;
    background-color: white;
    margin: auto;
    border: solid 1px #aaa;
    margin-bottom: 20px;
}

#content h1, #content h2, #content h3 {
    color: #FFF;
    padding: 1%;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    background-color: #07B;
    text-align: center;
}
#content h2 {
    background-color: #0AF;
    width: 78%;
    margin-left: 20%;
}
#content h3 {
    text-align: center;
    color: #FFF;
    padding: 1%;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #5CF;
}
.errorSting {
    text-align: center;
    background-color: #FAA;
    color: #F00;
    margin-top: 0px;
    padding: 5px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border-bottom: solid 1px #AAA;
}
.errorSting.true {
    background-color: #AFA;
    color: #070;
}
.back.button {
    float: right;
    font-size: 0.5em;
    margin-top: 1px;
    padding-bottom: 6px;
}