.inputDiv input {
    display: block;
    margin: 0px;
    padding: 1%;
    color: #555;
    background-color: #FFF;
    width: 96%;
    height: 100%;
    border: solid 2px #000;
    border-radius: 4px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.5) inset, 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
}
.button {
    border-radius: 2px;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
    color: white;
    margin: 0px;
    padding: 5px;
    background-color: #944;
    border: solid 2px #644;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2) inset, -2px -2px 2px rgba(0, 0, 0, 0.2) inset;
}
.button:hover {
    background-color: #B44;
    border: solid 2px #844;
}
.button:active {
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.2) inset, 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
}
.button.wrfm {
    padding: 0px 3px;
    font-size: 1em;
    margin-left: 5px;
    border-radius: 6px;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}