.inputDiv input {
    padding: 0 5%;
    border-radius: 4px;
    margin: 0;
    display: block;
    height: 100%;
    width: 90%;
    color: #222;
    background-color: #FFF;
    border: solid #EEE 1px;
    -webkit-transition: border-color 0.5s,border-radius 0.5s;
}
.inputDiv {
    border-radius: 4px;
    padding-right: 2px;
    padding-bottom: 2px;
    border: solid #BBB 1px;
}
.button {
    border-radius: 2px;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
    color: white;
    margin: 0px;
    padding: 5px;
    background-color: #944;
    border: solid 2px #644;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2) inset, -2px -2px 2px rgba(0, 0, 0, 0.2) inset;
}
.button:hover {
    background-color: #B44;
    border: solid 2px #844;
}
.button:active {
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.2) inset, 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
}
.button.wrfm {
    padding: 0px 3px;
    font-size: 1em;
    margin-left: 5px;
    border-radius: 6px;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.formTitle {
    display: block;
    float: left;
    width: 48%;
    text-align: right;
    margin-right: 2%;
}
.formText {
    display: block;
    float: left;
    width: 48%;
    padding: 3px 1%;
    border: solid 1px #AAA;
    font-size: inherit;
    box-shadow: 1px 1px 0px #DDD inset,1px 1px 0px #BBB inset;
}
.formText.select {
    background-color: white;
    border: solid 1px black;
    width: 49.3%;
    text-align: center;
}
.button.formtext {
    margin-left: 40%;
    margin-top: 20px;
    width: 20%;
}