@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url("../fonts/entypo.css");
@import url("headerandfooter.css");
@import url("inputs.css");

body {
	font-family: 'Droid Sans', sans-serif;
	background-image: url("../images/bg.png");
	margin: 0px;
	padding: 0px;
}